# Data Engineering

## Retrieving data from the web

In [1]:
# You tell Python that you want to use a library with the import statement.
import requests

We'll use the `get` function to issue a *GET* request. This is equivalent to typing a URL into your browser and hitting enter.

In [2]:
# Get the HU Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/Harvard_University")

Another very nifty Python function is `dir`. You can use it to list all the properties of an object.

In [3]:
dir(req)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

Right now `req` holds a reference to a *Request* object; but we are interested in the text associated with the web page, not the object itself.

So the next step is to assign the value of the `text` property of this `Request` object to a variable.

In [4]:
page = req.text
# page

Great! Now we have the text of the HU Wikipedia page. But this mess of HTML tags would be a pain to parse manually. Which is why we will use another very cool Python library called BeautifulSoup.

# 1) Import BeautifulSoup

In [5]:
from bs4 import BeautifulSoup

BeautifulSoup can deal with HTML or XML data, so the next line parser the contents of the `page` variable using its HTML parser, and assigns the result of that to the `soup` variable.

# 2) Create a Soup variable to store the parsed contents of the page

In [6]:
# Your Code Here
soup = BeautifulSoup(page, 'html.parser')

Let's check the string representation of the `soup` object.

In [7]:
soup.title.get_text

Doesn't look much different from the `page` object representation. Let's make sure the two are different types.

In [8]:
type(page)

str

In [9]:
type(soup)

bs4.BeautifulSoup

Looks like they are indeed different.

# 3) Display the title of the webpage

In [10]:
title = soup.find('title')
title

This is nice for HTML elements that only appear once per page, such the the `title` tag. But what about elements that can appear multiple times?

# 4) Display all p tags from the webpage

#### We can  use find_all method!

In [11]:
# we should be careful with elements that show up multiple times.
p_tags = soup.find_all('p')
# p_tags

# 5) How may p tags are present?

In [12]:
len(p_tags)

68

---

If you look at the Wikipedia page on your browser, you'll notice that it has a couple of tables in it. We will be working with the "Demographics" table, but first we need to find it.

One of the HTML attributes that will be very useful to us is the "class" attribute.

Getting the class of a single element is easy...

In [13]:
soup.table["class"]

['infobox', 'vcard']

---

### List Comprehensions

Next we will use a list comprehension to see all the tables that have a "class" attributes. List comprehensions are a very cool Python feature that allows for a loop iteration and a list creation in a single line.

# 6) Create a nested list containing classes of all the table tags

In [14]:
[table['class'] for table in soup.find_all('table')]

[['infobox', 'vcard'],
 ['toccolours'],
 ['infobox'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable'],
 ['box-Cleanup_gallery', 'plainlinks', 'metadata', 'ambox', 'ambox-style'],
 ['metadata', 'mbox-small'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'hlist', 'navbox-inner']]

As I mentioned, we will be using the Demographics table for this lab. The next cell contains the HTML elements of said table. We will render it in different parts of the notebook to make it easier to follow along the parsing steps.

# 7) Check the classes and find the Demographics Table
#### Use find method to find the table using the correct class , convert it into string format and store it in table_html also stored the original form in html_soup

In [15]:
html_soup = soup.find_all('table', attrs={'class':'wikitable'})[2]
table_html = str(html_soup)

In [16]:
table_html

'<table class="wikitable" style="text-align:center; float:right; font-size:85%; margin-right:2em;">\n<caption><i>Student demographics (Fall 2019)</i><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[110]</a></sup>\n</caption>\n<tbody><tr>\n<th></th>\n<th>Undergrad</th>\n<th>Grad/prof\n</th></tr>\n<tr>\n<th>Asian\n</th>\n<td>21%</td>\n<td>13%\n</td></tr>\n<tr>\n<th>Black\n</th>\n<td>9%</td>\n<td>5%\n</td></tr>\n<tr>\n<th>Hispanic or Latino\n</th>\n<td>11%</td>\n<td>7%\n</td></tr>\n<tr>\n<th>White\n</th>\n<td>37%</td>\n<td>38%\n</td></tr>\n<tr>\n<th>Two or more races\n</th>\n<td>8%</td>\n<td>3%\n</td></tr>\n<tr>\n<th>International\n</th>\n<td>12%</td>\n<td>32%\n</td></tr></tbody></table>'

In [17]:
from IPython.core.display import HTML

HTML(table_html)

# 8) Extract the rows from the Demographics table and store it in rows variable

In [18]:
body = html_soup.find('tbody')
rows = body.find_all('tr')
rows

[<tr>
 <th></th>
 <th>Undergrad</th>
 <th>Grad/prof
 </th></tr>,
 <tr>
 <th>Asian
 </th>
 <td>21%</td>
 <td>13%
 </td></tr>,
 <tr>
 <th>Black
 </th>
 <td>9%</td>
 <td>5%
 </td></tr>,
 <tr>
 <th>Hispanic or Latino
 </th>
 <td>11%</td>
 <td>7%
 </td></tr>,
 <tr>
 <th>White
 </th>
 <td>37%</td>
 <td>38%
 </td></tr>,
 <tr>
 <th>Two or more races
 </th>
 <td>8%</td>
 <td>3%
 </td></tr>,
 <tr>
 <th>International
 </th>
 <td>12%</td>
 <td>32%
 </td></tr>]

---

### lambda expressions

We will then use a lambda expression to replace new line characters with spaces. Lambda expressions are to functions what list comprehensions are to lists: namely a more concise way to achieve the same thing.

In reality, both lambda expressions and list comprehensions are a little different from their function and loop counterparts. But for the purposes of this class we can ignore those differences.

In [19]:
# Lambda expressions return the value of the expression inside it.
# In this case, it will return a string with new line characters replaced by spaces.
rem_nl = lambda s: s.replace("\n", " ")
row_lam = [rem_nl for row in rows]
row_lam

[<function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>,
 <function __main__.<lambda>(s)>]

# 8) Extract the columns from the Demographics table and store it in columns variable

In [20]:
columns =[col.text.strip() for col in rows[0].find_all('th')][1:]
columns

['Undergrad', 'Grad/prof']

Now let's do the same for the rows. Notice that since we have already parsed the header row, we will continue from the second row. The `[1:]` is a slice notation and in this case it means we want all values starting from the second position.

# 9) Extract the indexes from the rows variable
### Store it in a variable named indexes

In [21]:
indexes = []
for i in range(1,len(rows)):
    indexes.append([ind.text.strip() for ind in rows[i].find_all('th')][0])

In [22]:
indexes

['Asian',
 'Black',
 'Hispanic or Latino',
 'White',
 'Two or more races',
 'International']

In [23]:
# Here's the original HTML table.
HTML(table_html)

# 10) Convert the percentages to integers
### Store it in a variable named values

In [24]:
value_=[]
for row in rows[1:]:
    value_.append([r.text.strip() for r in row.find_all('td')])
    
#we got a list of list, to make it a single list:    
    
values_ = []
for sublist in value_:
    for item in sublist:
        values_.append(item)
        
#removing % sign and replacing N/A by None

new = []
for value in values_:
    if '%' in value:
        new.append(value.replace('%',''))
    else:
        value = None
        new.append(value)

#converting into integers

values = []
for value in new[:-1]:
    values.append(int(value))
values.append(None)
values

[21, 13, 9, 5, 11, 7, 37, 38, 8, 3, 12, None]

The problem with the list above is that the values lost their grouping.

The `zip` function is used to combine two sequences element wise. So `zip([1,2,3], [4,5,6])` would return `[(1, 4), (2, 5), (3, 6)]`.

This is the first time we see a container bounded by parenthesis. This is a tuple, which you can think of as an immutable list (meaning you can't add, remove, or change elements from it). Otherwise they work just like lists and can be indexed, sliced, etc.

In [25]:
stacked_values = zip(*[values[i::2] for i in range(len(columns))])
stacked_values

In [26]:
# Here's the original HTML table.
HTML(table_html)

---

## Pandas data structures

### DataFrames

To recap, we now have three data structures holding our column names, our row (index) names, and our values grouped by index.

We will now load this data into a Pandas DataFrame. The loading process is pretty straightforward, and all we need to do is tell Pandas which container goes where.

In [27]:
import pandas as pd

# 11) Create the DataFrame
### Use stacked_values, columns and indexes to create the Demographics DataFrame

In [28]:
stacked_values = zip(*[values[i::2] for i in range(len(columns))])
stacked_values
df = pd.DataFrame(list(stacked_values), columns=columns, index=indexes)
df

                    Undergrad  Grad/prof
Asian                      21       13.0
Black                       9        5.0
Hispanic or Latino         11        7.0
White                      37       38.0
Two or more races           8        3.0
International              12        NaN

In [29]:
# Here's the original HTML table.
HTML(table_html)

---

### DataFrame cleanup

Our DataFrame looks nice; but does it have the right data types?

# 12) Display the datatypes of all the columns

In [30]:
# Your Code Here
df.dtypes

Undergrad      int64
Grad/prof    float64
dtype: object

# 13) Drop the row containing NaN value.

In [31]:
df_clean_row = df.dropna
df_clean_row()

                    Undergrad  Grad/prof
Asian                      21       13.0
Black                       9        5.0
Hispanic or Latino         11        7.0
White                      37       38.0
Two or more races           8        3.0

# 13) Drop the column containing NaN value.

In [32]:
df_clean_column = df.dropna(axis=1)
df_clean_column

                    Undergrad
Asian                      21
Black                       9
Hispanic or Latino         11
White                      37
Two or more races           8
International              12

We will take a less radical approach and replace the missing value with a zero. In this case this solution makes sense, since 0% value meaningful in this context. We will also transform all the values to integers at the same time.

# 13) Fill the NaN value with 0

In [33]:
df_clean = df.fillna(value='0')
df_clean

                    Undergrad Grad/prof
Asian                      21        13
Black                       9         5
Hispanic or Latino         11         7
White                      37        38
Two or more races           8         3
International              12         0

In [34]:
df_clean.dtypes
df_clean.describe(include='all')

        Undergrad  Grad/prof
count    6.000000        6.0
unique        NaN        6.0
top           NaN        7.0
freq          NaN        1.0
mean    16.333333        NaN
std     11.129540        NaN
min      8.000000        NaN
25%      9.500000        NaN
50%     11.500000        NaN
75%     18.750000        NaN
max     37.000000        NaN

Now our table looks good!

---

### NumPy

In [35]:
import numpy as np

In [36]:
df_clean.values

array([[21, 13.0],
       [9, 5.0],
       [11, 7.0],
       [37, 38.0],
       [8, 3.0],
       [12, '0']], dtype=object)

In [37]:
type(df_clean.values)

numpy.ndarray

NumPy also offers many functions that can operate directly on the DataFrame.

# 14) Find the mean for the column 'Undergrad' from the cleaned dataset

In [38]:
df_clean.Undergrad.mean()

16.333333333333332

# 15) Find the standard deviation for all the columns of the cleaned dataset

In [39]:
df_clean.std()

Undergrad    11.12954
dtype: float64